
[submodule "src/powercord"]
	path = src/powercord
	url = https://github.com/powercord-org/powercord.git
[submodule "src/powercord-git"]
	path = src/powercord-git
	url = https://github.com/powercord-org/powercord.git
